<!-- <p>history works!</p> -->
<div class="p-grid">
    <div class="p-col-12">
        <p-tabMenu [model]="items2"></p-tabMenu>
        <div style="padding: 0.5em;">
            <router-outlet></router-outlet>
        </div>
        <hr class="bordermargin-lr">
    <!--Bottom_buttons-->
    <div class="p-grid">
          <div class="p-col-12 p-md-8">
             <button pButton type="button" label="Back" class="ui-button-secondary"></button>
         </div>
         <div class="p-col-12 p-md-4">
             <div class="Sundeus-button-ui">
                <button pButton type="button" label="Cancel" class="ui-button-secondary bottomactionbtns"></button>
                <button pButton type="button" label="Submit" class="ui-button-primary p-button" routerLink = ""></button>
             </div>
        </div>
    </div>

    </div>
</div>
