<!-- <p>contract-form-validate works!</p> -->
<div class="p-grid">
    <div class="p-col-12">
        <p-tabMenu [model]="items1" [activeItem]="items1[0]"></p-tabMenu>
        <div style="padding: 0.5em;">
            <router-outlet></router-outlet>
        </div>
        <!-- <p-tabView>
            <p-tabPanel header="Summary" leftIcon="pi pi-star">
                <app-summary></app-summary>
            </p-tabPanel>
            <p-tabPanel header="Details" leftIcon="pi pi-star">
                <app-details></app-details>
            </p-tabPanel>
            <p-tabPanel header="Teams" leftIcon="pi pi-star">
                After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
            </p-tabPanel>
            <p-tabPanel header="Clauses" leftIcon="pi pi-star">
                <app-validate-clause></app-validate-clause>
            </p-tabPanel>
            <p-tabPanel header="Supporting Docs" leftIcon="pi pi-star">
                After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
            </p-tabPanel>
            <p-tabPanel header="Obligations" leftIcon="pi pi-star">
                <app-obligations></app-obligations>
            </p-tabPanel>
            <p-tabPanel header="History" leftIcon="pi pi-star">
                <app-history></app-history>
            </p-tabPanel>
            <p-tabPanel header="Notes" leftIcon="pi pi-star">
                After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.
            </p-tabPanel>
        </p-tabView>     -->
    </div>
</div>  
 