<!-- <p>summary works!</p> -->
<div class="p-grid">
    <div class="p-col-12 p-md-4">
        <p-panel header="Contract Summary">
          <p-scrollPanel [style]="{width: '100%', height: '300px'}">
            <p><strong>Contract Type </strong> : Mutual NDA</p>
            <p><strong>Template Type </strong> : 3rd Party</p>
            <p><strong>Party 1 Name  </strong> : Lorem Ipsum</p>
            <p><strong>Party 2 Name  </strong> : Lorem Ipsum</p>
            <p><strong>NDA Type</strong> : Unilateral</p>
            <p><strong>Effective Date </strong> : 13/05/2019</p>
            <p><strong>Template Type  </strong> : Mutual NDA</p>
            <p><strong>Party 3 Name   </strong> : Mutual NDA</p>
            <p><strong>Carporation Type</strong> : Mutual NDA</p>
          </p-scrollPanel>
         </p-panel>
    </div>
    <div class="p-col-12 p-md-8">
        <p-panel header="Contract Preview">
            <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                 Content
            </p-scrollPanel>
        </p-panel>
    </div>
</div>
<hr class="bordermargin-lr">
<!--Bottom_buttons-->
<div class="p-grid">
      <div class="p-col-12 p-md-4">
         <button pButton type="button" label="Back" class="ui-button-secondary"></button>
     </div>
     <div class="p-col-12 p-md-8">
         <div class="Sundeus-button-ui">
            <button pButton type="button" label="Cancel" class="ui-button-secondary bottomactionbtns"></button>
            <button pButton type="button" label="Generate Contract" class="ui-button-primary p-button" routerLink = ""></button>
            <button pButton type="button" label="Download Contract" class="ui-button-primary p-button bottomactionbtns" routerLink = ""></button>
         </div>
    </div>
</div>