<!-- <p>reviewer works!</p> -->
<div class="whitebackground-ht3">
<div class="p-grid">
    <div class="p-col-12 p-md-7 p-lg-2">
        <p-card styleClass="cardpadding">
            <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
            <div style="text-align: center;">
                  <div class="usersimg"><img src="./../../../../../../../dist/SundeusCLMImg/img_avatar.png" alt=""></div>
                   <div class="profilename"><strong>Fariha Hughes</strong></div>
            <p class="profileposition">Internal Reviewer</p>
            <!-- <div class="botton-card-status-sucess">
                <p>Reviewed</p>
             </div> -->
            </div>
        </p-card>
        <div class="botton-card-status-sucess">
            <p>Reviewed</p>
        </div>
    </div>
    <div class="p-col-12 p-md-7 p-lg-2">
        <p-card styleClass="cardpadding">
            <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
            <div style="text-align: center;">
                  <div class="usersimg"><img src="./../../../../../../../dist/SundeusCLMImg/img_avatar.png" alt=""></div>
                   <div class="profilename"><strong>Rylan Lloyd</strong></div>
            <p class="profileposition">Internal Reviewer</p>
         </div>
        </p-card>
        <div class="botton-card-status-pending">
            <p>Review Pending</p>
         </div>
    </div>
    <div class="p-col-12 p-md-7 p-lg-2">
        <p-card styleClass="cardpadding">
            <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
            <div style="text-align: center;">
                  <div class="usersimg"><img src="./../../../../../../../dist/SundeusCLMImg/img_avatar.png" alt=""></div>
                   <div class="profilename"><strong>Krista Caldwell</strong></div>
            <p class="profileposition">External Reviewer</p>
          </div>
        </p-card>
        <div class="botton-card-status-pending">
            <p>Review Pending</p>
         </div>
    </div>
    <div class="p-col-12 p-md-7 p-lg-2"></div>
    <div class="p-col-12 p-md-7 p-lg-2"></div>
    <div class="p-col-12 p-md-7 p-lg-2"></div>
</div>
</div>

