<!-- <p>forgot-password works!</p> -->
<div class="bg-image"></div>
<div class="p-grid" style="margin: 0;">
  <div class="p-col-12">
    <div class="resetbox">
      <p-card header="Forgot your Password?" subheader="Enter your email address and we'll send you a link to reset your password." [style]="{width: '360px'}" styleClass="ui-card-shadow cardcontent box-p">
         <div>
          <div class="p-formgroup-inline">
            <div class="p-field">
                <!-- <label for="" class="p-sr-only"></label> -->
                <input id="eaddress" type="text" pInputText placeholder="Email address" class="w-tb-email">
            </div>
            </div>
        </div>
        <p-footer>
          <div class="Sundeus-reset-button">
            <button pButton type="button" label="Cancel" class="ui-button-secondary bottomactionbtns" routerLink = "/login"></button>
            <button pButton type="button" label="Reset" class="ui-button-primary p-button bottomactionbtns" routerLink = "/login"></button>
        </div>
            <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
        </p-footer>
    </p-card>

    </div>
  </div>
</div>



