<!-- <p>forgot-password works!</p> -->
<div class="bg-image"></div>
<div class="p-grid" style="margin: 0;">
  <div class="p-col-12">
    <div class="resetbox">
      <p-card header="Forgot your Password?" subheader="Enter your email address and we'll send you a link to reset your password." [style]="{width: '360px'}" styleClass="ui-card-shadow cardcontent box-p">
        <form #forgetPasswordForm="ngForm">
        
        <div>
          <div class="p-formgroup-inline">
            <div class="p-field">
                <!-- <label for="" class="p-sr-only"></label> -->
                <input id="emailaddress01" type="email" class="form-control"[(ngModel)]="email" #emailName="ngModel" [class.is-invalid]="emailName.touched && emailName.invalid" pInputText placeholder="Email address" name="emailID" required  (ngModelChange)="flag=''" class="w-tb-email">
               <!-- <input type="email" class="form-control"[(ngModel)]="email" #emailName="ngModel" [class.is-invalid]="emailName.touched && emailName.invalid" id="emailaddress01" placeholder="Email Address" name="emailID" required email (ngModelChange)="flag=''">-->
              
              </div>
            </div>
        </div>
        <div class="alert" [class]="flag" role="alert" *ngIf ="flag!=''">
          {{alertMessage}}
        </div>
        <p-footer>
          <div class="Sundeus-reset-button">
            <button pButton type="submit" label="Cancel" class="ui-button-secondary bottomactionbtns" routerLink = '/login'></button>
            <button pButton type="submit" label="submit" class="ui-button-primary p-button bottomactionbtns" [disabled]="forgetPasswordForm.status == 'INVALID'" (click)="updatePassword()"></button>
        </div>
            <!-- <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
        </p-footer>

      </form>
    </p-card>

    </div>
  </div>
</div>



