/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: Avenir Heavy;
    font-size: 14px;
    background-color: #EFF3F7;
}
.Sundeusmenuright ul.ui-menubar-root-list {
    float: right;
}
.Sundeusmenuright.ui-menubar .ui-menubar-custom {
    float: left;
    margin-left: 14px;
}
.Sundeusmenuright.ui-menubar.ui-widget.ui-widget-content.ui-corner-all{
    position: fixed;
    width: 100%;
    z-index: 2000;
}
.Sundeusmenuright .ui-button {
    margin: 0;
    color: #012164;
    background-color: #ffffff;
    border: transparent;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
}
.Sundeusmenuright .ui-button:enabled:hover{
    background-color: #ffffff;
    color: #013164;
    border-color: #012164;
}
.Sundeusmenuright .ui-button:enabled:active{
    background-color: #ffffff;
    color: #013164;
    border-color: #012164;
}
.Sundeusheaderlogo1{
    content: url(./dist/SundeusCLMImg/Sundeus_logo/Logo.svg);
    height: 40px;
    width: 180px;
    vertical-align: middle;
}
.Sundeusmenuright span.ui-submenu-icon.pi.pi-fw.pi-caret-down.ng-star-inserted {
    color: #013164;
}
span.ui-menuitem-icon.fa.fa-question-circle.ng-star-inserted {
    margin-right: 0px !important;
}
.Sundeusmenuright span.ui-menuitem-icon.fa.fa-bell.ng-star-inserted {
    margin-right: -30px !important;
}
.Sundeusmenuright a.downarrowiconremove>.pi-caret-down:before{
    content: "" !important;
}
span.ui-menuitem-icon.SundeusLogout.ng-star-inserted {
    content: url(./dist/SundeusCLMImg/img_avatar.png);
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 15px;
}
.Sundeusmenuright.ui-menubar .ui-menubar-root-list > .ui-menu-separator {
    height: 3.5em;
}
.Sundeusmenuright.ui-menubar .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
    font-family: Avenir Heavy;
}
.Sundeusmenuright ul.ui-widget-content.ui-corner-all.ui-submenu-list.ui-shadow {
    top: 51px !important;
    left: -35px !important;
}
.Sundeussideborder.ui-tieredmenu {
    border: none;
    background-color: #013164;
}
.sidebarsize.ui-sidebar-left {
    width: 12.5em;             /*edit by pushkar*/
    top: 51px;
}
.sidebarsize.ui-sidebar-left:not(.ui-sidebar-active) {
    opacity: 1 !important;
    transform: translateX(-60%);
    z-index: 11003;
}
    /*edit by pushkar*/
.sidebarsize.ui-sidebar-left:not(.ui-sidebar-active) .expandcontent > a > .ui-menuitem-text {
    display: none !important;

}            /*edit by pushkar*/
.sidebarsize.ui-sidebar-left:not(.ui-sidebar-active) .Sundeussideborder.ui-tieredmenu {
    margin-left: 105px;
    width: 70px;
}       /*edit by pushkar*/
.sidebarsize.ui-sidebar {
    background-color: #013164;
    color: #333333;
    border: none;
    padding-left: 0px;         /*edit by pushkar*/
    padding-top: 0px !important;
}
.ui-widget-overlay.ui-sidebar-mask {
    background-color: transparent;
}
.ui-menuitem-icon.dashimg {
    content: url(./dist/SundeusCLMImg/menuicon_white/dashboardwhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.contractimg {
    content: url(./dist/SundeusCLMImg/menuicon_white/ContractTypewhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.reportsimag {
    content: url(./dist/SundeusCLMImg/menuicon_white/ruleswhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.searchimg {
    content: url(./dist/SundeusCLMImg/menuicon_white/searchwhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.usermtimg {
    content: url(./dist/SundeusCLMImg/menuicon_white/ContractWhite.svg);
    height: 25px;
    width: 25px;
}
.ui-menuitem-icon.setupimg {
    content: url(./dist/SundeusCLMImg/menuicon_white/settingswhite.svg);
    height: 25px;
    width: 25px;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem-link .ui-menuitem-text {
    color: #ffffff;
    font-size: 14px;
    font-family: Avenir Heavy;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem .ui-menuitem-link .ui-submenu-icon {
    right: -3px;
    font-size: 18px;
    color: #ffffff;
}
.Sundeussideborder.ui-tieredmenu .ui-menuitem-link .ui-menuitem-icon {
    /* color: #818181; */
    margin-right: 15px;
  }
.Sundeussideborder.ui-tieredmenu .ui-submenu-list {
    background-color: #013164;
    border: none;
}
.Sundeussideborder li.submenupadd-tb.ng-star-inserted.ui-menuitem.ui-widget.ui-corner-all > a.ui-menuitem-link {
    height: 3.2em;
    padding-top: 15px;
}
/* a.ng-tns-c22-0.ui-sidebar-close.ui-corner-all.ng-star-inserted {
    display: none !important;
} */
       /* Dashboard Comp css */
.layout-main {
    margin-left: 70px;
    padding-top: 52px;
}
.layout-content {
    padding: 1em !important;
}
.p-col-3.p-col-align-center.overview-box-status {
    color: purple;
    font-size: 44px;
}
.p-col-3.p-col-align-center.overview-box-status2 {
    color: #FE7815;
    font-size: 44px;
}
.p-col-3.p-col-align-center.overview-box-status3 {
    color: deeppink;
    font-size: 44px;
}
.p-col-3.p-col-align-center.overview-box-status4 {
    font-size: 44px;
    color: #A10B08;
}
.p-col-6.p-col-align-center.overview-box-text {
    font-size: 12px;
}
.overview-box-icon > img {
height: 55px !important;
}
.card {
    background-color: #FFFFFF;
    padding: 10px;
}                       /* My Task Table card*/

/* .myTasktable-ht{} */
.title-captionkpi {
    color: #333333 !important;
    font-size: 18px;
    font-family: Avenir Heavy;
    font-weight: bold;
}
.title-captionkpi:hover{
color: #012164 !important;
}
span.customicon {
    float: right;
    color: #013164;
    font-size: 14px;
}
span.customicon.pr-doticon {
    padding-right: 13px;
}
.ui-table-mytask th.w-tableheader {
width: 80%;
}
.ui-table-mytask td.w-tableheader {
    width: 80%;
}
/* Notification-List/module Screen CSS start*/
 span.title-caption {                /*re-usable in list screen*/
    color: #013164 !important;
    font-size: 16px;
    font-family: Avenir Heavy;
    font-weight: bold;
}
          /* Button*/
.Sundeus-button-ui {
    float: right !important;     /*re-usable*/
}
.ui-button-primary {
    background-color: #FF8C00 !important;            /*re-usable*/
    color: #ffffff !important;
}
.ui-button-primary.p-button {
    padding: 1px 6px;
}
.bottomactionbtns {
  margin: 0px 10px !important;
}
button.ui-button-warn.Sundeus-golbal-serch.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only {
    color: #ffffff;
    background-color: #013164;               /*re-usable*/
}
th.w-coltable.ui-sortable-column {
    width: 15%;
}
td.listactionicon img {    /*re-usable*/
    /* margin-left: 22px; */
    height: 18px;
    vertical-align: middle;
}
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active) {
    background-color: slategray;
    color: #FFFFFF;
}
body .ui-togglebutton:not(.ui-state-disabled):not(.ui-state-active):hover {
    color: #ffffff;
}
.p-field.p-col-1.plusicon {
    margin-top: 34px;
    color: #013164;
    font-size: 25px;
}
.py-mandatoryline {
    margin-top: -7px;
    margin-bottom: 7px;
    font-size: 11px;
}
ul.ui-listbox-list {
    /* height: 100%; */       /*ask to pushkar_add new class as per documetn */
    height: 30.2em;
}
label {
    font-weight: bold !important;      /*reusable*/
}
/* .p-col-8.grayborder-r {
    border-right: 1px soild #B2AEAE;
} */
p.text-color-gray{
    color: gray;
    font-size: 13px;
}
 /*Scrollpanel css*/
.custombar1 .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}
.custombar1 .ui-scrollpanel-bar {
    background-color: #013164;
    opacity: 1;
    transition: background-color .3s;
}
.custombar1 .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}
/* Contract-type/module Screen CSS start*/
.float-r{
    float: right;    /*reusable*/
}
span.tableicon-mr{
    padding-left: 28px;
    font-size: 22px;
    vertical-align: middle;
    color: #013164;
}
th.w-col25{
    width: 25%;
}
.ui-table-paddtop {
    padding-top: 10px !important;
}
span.colorred {
    color: red;
}
.colordarkblue{
    color: #012164;
}
.pt-innerpart{
    padding-top: 5px;
}
.htbottom-buttons{
position: sticky;
}
/* .whitebackground-ht1{
    height: 28.5em;
    overflow-y: scroll;
} */
.whitebackground-ht1{    /*reusable*/
    height: 29.5em;
}
.bordermargin-lr{
    margin-left: -1em;
    margin-right: -1em;
}
/*Contract css comps*/
/* Steps css */
.steps-custom.steps-custom.ui-steps.ui-widget.ui-helper-clearfix.ui-steps-readonly{
margin-top: -14px;
}
.steps-custom.ui-steps .ui-steps-item {
 width: 16.5%;
}
.steps-custom li.ui-steps-item.ui-state-default.ui-state-disabled.ui-steps-incomplete{
    opacity: 1.5;
}
.whitebackground-ht2{    /*reusable*/
    height: 27em;
}
/*Enter data comp css*/
.bgcoloricon button.ui-datepicker-trigger.ui-calendar-button {
    background: #013164;
    color: #ffffff;
    border-radius: 0px;
}
/*teams css*/
.usersimg img{
height: 60px;
width: 60px;
border-radius: 40px;
}
.cardpadding .ui-card-body{
    padding: 0px !important;
    border-radius: 5px !important;
    height: 12em;
}
.cardpadding .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default {
    margin: 12px;
}
.botton-card-status-sucess {
    background: green;
    padding: 8px;
    /* margin-top: 35px; */
    font-size: 16px;
    border-radius: 0px 0px 5px 5px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.botton-card-status-pending{
    background: #FF8C00;
    padding: 8px;
    font-size: 16px;
    border-radius: 0px 0px 5px 5px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.profilename{
    color: #013164;
    padding-top: 8px;
}
.whitebackground-ht3{
    height: 22em;
}
/*Footer css*/
.textalignment{
    padding: 6px;
    text-align: center;
}
footer.footer {
    background-color: #013164;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 11004;
    display: block;
    bottom: 0;
}
/*Login_page css*/
.p-grid.bkground-image{
  background-image: url(/dist/SundeusCLMImg/Sundeus_login.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* position: absolute; */
  height: 100vh;
  /* width: 100%; */
  /* height: 45.6rem; */
  margin: 0rem;
}
.title1{
  color: #ffffff;
  font-size: 26px;
}
.subtitle{
  color: #ffffff;
  font-size: 22px;
  margin-top: 0px !important;
}
.Sundeusloginbox{
position: absolute;
margin-top: 9rem;
margin-left: 4rem;
}
.w-19 {
  width: 21rem;
}
.w-20 {
  width: 23.6rem;
  height: 36px;
  border-radius: 0px !important;

}
.spacingbottom-1{
  margin-bottom: 1rem !important;
}
.Cardheader {
  padding: 1rem 1rem 1rem 1.5rem;
  color: #ffffff;
  background-color: #FF8C00;
  font-size: 18px;
}
.ui-card-shadow.cardcontent .ui-card-body{
padding: 1em 1em 1em 1.5em;;
}
.ui-card-shadow.cardcontent .ui-inputgroup .ui-inputgroup-addon{
min-width: 3em !important;
}
.ui-card-shadow.cardcontent .ui-inputgroup .ui-inputgroup-addon:first-child{
border-top-left-radius: 0!important;
border-bottom-left-radius:0 ;
}
.ui-card-shadow.cardcontent .ui-inputtext{
border-radius: 0px !important;
}
.ui-card-shadow.cardcontent.ui-corner-all{
border-radius: 0px !important;
}

/* Forgot_Password_Css */
.bg-image{
background-image: url(/dist/SundeusCLMImg/Sundeus_login.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 96vh;
filter: blur(8px);
-webkit-filter: blur(8px);
/* margin: 0rem; */
}
.resetbox{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.w-tb-email{
width: 19rem !important;
height: 3em;
}
.ui-card-shadow.cardcontent.box-p .ui-card-title{
font-size: 1.2em !important;
color: #012164 !important;
}
.ui-card-shadow.cardcontent.box-p .ui-card-subtitle{
margin-bottom: 1.5em;
margin-top: 0.75em;
font-weight: lighter;
}
.ui-card-shadow.cardcontent.box-p .ui-card-body{
padding: 2em 2em 3em 2em !important;
}

.ui-card-shadow.sundeus-card-ht{       /*reusable class*/
  min-height: 490px;
}
/* @media (max-width: 1366px) {
    .card.myTasktable {
    height: 27em !important;
    }
  } */
